      span.password{
                     font-size: 150%;
                     font-family: monospace;
                     font-weight: bold; 
                     margin: 0px 0.3em;
                   }
       input[type=]{
                     font-size: 125%;
                     margin: 2em;
                   }
          div.guide{
                     padding: 0.5em 1em;
                     margin: 2em 0;
                     border: solid 1px #000000;
                   }
        div.guide p{
                     margin: 0; 
                     padding: 0;
                   }
         p.logo img{
                     width: 180px;  
                   }
           .wrapper{
                     height: 100%;
                     min-height: 100vh;
                     position: relative;
                     padding-bottom: 120px;
                     box-sizing: border-box;
                   }
             footer{
                     width: 100%;
                     text-align: center;
                     padding: 30px 0;
                     position: absolute;
                     bottom: 0; 
                   }
